<!DOCTYPE html>
<html>
  <head>
    <title>Kanban</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light mb-1" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="/">
        <%= image_tag('logo.svg', size: "30x30", alt: "Kanban Boards", class: 'd-inline-block') %>
        Kanban Boards
      </a>
     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <span class="navbar-text mr-1">
            Four Demo Apps for Login:
        </span>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
                <a class="nav-link current"
                href="https://kanban-1.projects.multimediatechnology.at/">1: No Login
                <span class="sr-only"></span></a>
              <a class="nav-link"
                href="https://kanban-2.projects.multimediatechnology.at/">2: basic auth</a>
              <a class="nav-link"
                href="https://kanban-3.projects.multimediatechnology.at/">3: devise</a>
              <a class="nav-link"
                href="https://kanban-4.projects.multimediatechnology.at/">4: omniauth</a>
          </div>
        </div>

      <div class="navbar-nav">

        <% if current_user %>
          <%= link_to current_user.email, edit_user_registration_path,  class: "nav-link" %>
          <%= link_to "Log out", destroy_user_session_path,  class: "nav-link", data: { turbo_method: :delete } %>
          <%= link_to "the letters", letter_opener_web_path, class: "nav-link" %>
        <% else %>
          <%= link_to "Log in", new_user_session_path,  class: "nav-link" %>
          <%= link_to "Register", new_user_registration_path,  class: "nav-link" %>
          <%= link_to "the letters", letter_opener_web_path, class: "nav-link" %>

        <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="container">
      <% if flash.any? %>
        <div id="flash">
          <%= render "layouts/flash" %>
        </div>
      <% end %>

    <%= yield %>
    </div>
    <footer class="bd-footer text-muted">
      <div class="container">
        <p>This Demo App offers Login with the <a href="https://github.com/heartcombo/devise#configuring-views">Devise</a> gem.
        Try logging in with email <kbd>mariam@example.com</kbd> and password <kbd>asecret</kbd>, or register with
        any other e-mail. There will be no real e-mail, but you can read all
        <%= link_to "the letters", letter_opener_web_path %> that would have been sent.</p>
        <p>You can find the source code in branch <kbd>version-3</kbd> in <a href="https://github.com/backend-development/rails-example-kanban-board-login/tree/version-3">the repository</a>.</p>
      </div>
    </footer>
  </body>
</html>
