<!DOCTYPE html>
<html>
  <head>
    <title>Kanban</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav class="navbar navbar-light mb-1" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="/">
        <%= image_tag('logo.svg', size: "30x30", alt: "Kanban Boards", class: 'd-inline-block') %>
        Kanban Boards
      </a>

      <span class="navbar-text float-xs-right">
        No Login
      </span>
    </nav>
    <div class="container">
      <% if flash.any? %>
        <div style="position: absolute; top: 0; right: 0; width: 100vw; z-index: 1000;">
        <% flash.each do |key, value| %>
          <div role="alert" aria-live="assertive" aria-atomic="true" class="toast top-0">
            <div class="toast-header">
              <strong class="me-auto"><%= key.capitalize %></strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              <%= value %>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>

    <%= yield %>
    </div>
    <footer class="bd-footer text-muted">
      <div class="container">
        <p>This Demo App offers no Login. But a session-cookie <kbd><%=
        Rails.application.config.session_options[:key] %></kbd> is still created
          by rails and set for each visitor.</p>
        <p>You can find the source code in <a href="https://gitlab.mediacube.at/bjelline/backend-assign-public/-/tree/master/a6_login">the repository</a>.</p>
      </div>
    </footer>
  </body>
</html>
